<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>Filtro</filter-name>
        <filter-class>Extras.Filtro</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filtro</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>DirectMarket</servlet-name>
        <servlet-class>Extras.ServletInit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buscar</servlet-name>
        <servlet-class>ServletConsulta.Buscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPerfil</servlet-name>
        <servlet-class>ServletConsulta.InfoPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerReclamos</servlet-name>
        <servlet-class>ServletConsulta.Reclamos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerProducto</servlet-name>
        <servlet-class>ServletConsulta.Producto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>Extras.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Extras.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Image</servlet-name>
        <servlet-class>Extras.Image</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categoria</servlet-name>
        <servlet-class>ServletConsulta.ProductoCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proveedor</servlet-name>
        <servlet-class>ServletConsulta.ProductosProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaProducto</servlet-name>
        <servlet-class>ServletAlta.Producto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaUsuario</servlet-name>
        <servlet-class>ServletAlta.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerOrden</servlet-name>
        <servlet-class>ServletConsulta.Orden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notis</servlet-name>
        <servlet-class>Extras.ActDesNoti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnaOrden</servlet-name>
        <servlet-class>ServletConsulta.UnaOrden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdfCreator</servlet-name>
        <servlet-class>Extras.pdfCreator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Confirmar</servlet-name>
        <servlet-class>ServletAlta.ConfirmarOrden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Puntuar</servlet-name>
        <servlet-class>ServletConsulta.ProdAPuntuar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comentar</servlet-name>
        <servlet-class>ServletAlta.Comentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PuntuarProducto</servlet-name>
        <servlet-class>ServletAlta.Puntaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaReclamo</servlet-name>
        <servlet-class>ServletAlta.Reclamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Carrito</servlet-name>
        <servlet-class>ServletConsulta.Carrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ACarrito</servlet-name>
        <servlet-class>ServletAlta.ACarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Generar</servlet-name>
        <servlet-class>ServletAlta.GenerarOrden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Coneccion</servlet-name>
        <servlet-class>Extras.Coneccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespRec</servlet-name>
        <servlet-class>ServletAlta.RespRec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>isOnline</servlet-name>
        <servlet-class>Extras.isOnline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chat</servlet-name>
        <servlet-class>Extras.Chat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DirectMarket</servlet-name>
        <url-pattern>/DirectMarket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buscar</servlet-name>
        <url-pattern>/Buscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPerfil</servlet-name>
        <url-pattern>/VerPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerReclamos</servlet-name>
        <url-pattern>/VerReclamos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerProducto</servlet-name>
        <url-pattern>/VerProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Image</servlet-name>
        <url-pattern>/Image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categoria</servlet-name>
        <url-pattern>/Categoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proveedor</servlet-name>
        <url-pattern>/Proveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaProducto</servlet-name>
        <url-pattern>/AltaProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaUsuario</servlet-name>
        <url-pattern>/AltaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerOrden</servlet-name>
        <url-pattern>/VerOrden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notis</servlet-name>
        <url-pattern>/Notis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnaOrden</servlet-name>
        <url-pattern>/UnaOrden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdfCreator</servlet-name>
        <url-pattern>/pdfCreator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confirmar</servlet-name>
        <url-pattern>/Confirmar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Puntuar</servlet-name>
        <url-pattern>/Puntuar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comentar</servlet-name>
        <url-pattern>/Comentar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuntuarProducto</servlet-name>
        <url-pattern>/PuntuarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaReclamo</servlet-name>
        <url-pattern>/AltaReclamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Carrito</servlet-name>
        <url-pattern>/Carrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ACarrito</servlet-name>
        <url-pattern>/ACarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Generar</servlet-name>
        <url-pattern>/Generar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Coneccion</servlet-name>
        <url-pattern>/Coneccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespRec</servlet-name>
        <url-pattern>/AltaRespRec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>isOnline</servlet-name>
        <url-pattern>/isOnline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chat</servlet-name>
        <url-pattern>/Chat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/pages/Error.jsp</location>
    </error-page>
</web-app>
